.kontakt {
    font-family: Arial;
    font-size: 24px;
    color: white;
}

.card {
    border-radius: 0 !important;

}
.responzivne {
    width: 100%;
    height: auto;
    object-fit: cover;
}
body {

    background:linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://c.wallhere.com/photos/c2/8a/2560x1600_px_boat_fishing_lake_smoke_Trees_water-675079.jpg!d");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
}




